<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:usesCleartextTraffic="false">
    <activity
      android:name="com.dotobokuri.fleet.mobile.FleetLinkActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:launchMode="singleTask"
      android:noHistory="true"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="fleet" android:host="join" android:path="" />
      </intent-filter>
    </activity>
  </application>
</manifest>
